.title{
  text-align: center

}

.formInput{
  width: 50%;
  margin: 0 auto;
}

.loading{
  width: 50%;
  margin: 0 auto;
}

.loading{
  text-align: center;
}

.TweetMeElement{
width: 50%;
margin: 0 auto;
background-color: #fff;
  border-color: #ddd;
}



.commentBox{
border: 1px
solid #000;

}
  

